In [ ]:
#Social_Network_Ads.csv

**Import libraries**

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import matplotlib.pyplot as plt

**Importing the dataset**

In [2]:
data=pd.read_csv('/Users/alok.g.v/Desktop/python practice/Guvi Task/Task7/Assignment11_to_16/Social_Network_Ads.csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
gender_dum=pd.get_dummies(data['Gender'],prefix='Gender')
data=pd.concat([data,gender_dum],axis=1)
data

,User ID,Gender,Age,EstimatedSalary,Purchased,Gender_Female,Gender_Male
0,15624510,Male,19,19000,0,0,1
1,15810944,Male,35,20000,0,0,1
2,15668575,Female,26,43000,0,1,0
3,15603246,Female,27,57000,0,1,0
4,15804002,Male,19,76000,0,0,1
...,...,...,...,...,...,...,...
395,15691863,Female,46,41000,1,1,0
396,15706071,Male,51,23000,1,0,1
397,15654296,Female,50,20000,1,1,0
398,15755018,Male,36,33000,0,0,1
399,15594041,Female,49,36000,1,1,0

In [4]:
scaler=StandardScaler()
data['EstimatedSalary']=scaler.fit_transform(data[['EstimatedSalary']])
X=data[['Age','EstimatedSalary','Gender_Female','Gender_Male']]
y=data[['Purchased']]

**Splitting the dataset into the Training set and Test set**

In [5]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(280, 4) (120, 4) (280, 1) (120, 1)

**Feature Scaling**

**Fitting SVM to the Training set**

In [10]:
s=SVC(kernel='linear')
s=s.fit(X_train,y_train)

/Users/alok.g.v/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

**Predicting the Test set results**

In [12]:
y_pred=s.predict(X_test)
y_pred

array([0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0])

**Making the Confusion Matrix**

In [14]:
cm=confusion_matrix(y_pred,y_test)
cm

array([[68, 13],
       [ 6, 33]])

**Visualising the Training set results**

In [20]:
support_vectors=s.support_vectors_
plt.scatter(X_train[:,0],X_train[:,1])
plt.scatter(support_vector[:,0],support_vector[:,1],color='red')

TypeError: '(slice(None, None, None), 0)' is an invalid key

**Visualising the Test set results**